In [2]:
import pandas as pd

In [4]:
df=pd.DataFrame({"student marks":[34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,49,56]})
df

    student marks
0              34
1              36
2              36
3              38
4              38
5              39
6              39
7              40
8              40
9              41
10             41
11             41
12             41
13             42
14             42
15             49
16             56

In [5]:
df.mean()

student marks    40.764706
dtype: float64

In [7]:
df.median()

student marks    40.0
dtype: float64

In [8]:
df.var()

student marks    26.066176
dtype: float64

In [9]:
df.std()

student marks    5.105505
dtype: float64